<mat-card class="container-general-transfer">
  <mat-card-content>
    <div>
      <h4 class="mb-32">Tranferir Adolescente</h4>
      <p class="mb-0 fw-medium" id="information">
        Mediante este menu se va poder transferir un adolescente a otro SOA.
      </p>
      <p class="mb-0 fw-medium" id="pasos"><strong>Pasos:</strong></p>
      <p class="mb-0 fw-medium" id="paso1">
        <strong>1.- </strong>Da click en el boton
        <strong>"Iniciar Transferencia"</strong>.
      </p>
      <p class="mb-0 fw-medium" id="paso2">
        <strong>2.- </strong>Selecciona el <strong>Adolescente</strong> a
        transferir.
      </p>
      <p class="mb-0 fw-medium" id="paso3">
        <strong>3.- </strong>Selecciona el nuevo <strong>SOA</strong> para la
        transferencia.
      </p>
      <p class="mb-0 fw-medium" id="paso4">
        <strong>4.- </strong>Y por ultimo, dale click en
        <strong>"Transferir Adolescente"</strong> para terminar el proceso.
      </p>
    </div>
    <div class="container-button">
      <button
        mat-raised-button
        class="me-8 mb-8"
        color="primary"
        id="button-transfer"
        (click)="showForm()"
      >
        <strong>Iniciar Transferencia</strong>
      </button>
    </div>

    <div class="container-form" *ngIf="showTransferForm">
      <form [formGroup]="formForTransfer" (ngSubmit)="onSubmitForm()">
        <mat-form-field>
          <mat-label>Adolescente:</mat-label>
          <mat-select formControlName="id_teen">
            <mat-option *ngFor="let dTeen of teenData" [value]="dTeen.id_teen">
              {{ dTeen.name }} {{ dTeen.surnameFather }}
              {{ dTeen.surnameMother }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Soa:</mat-label>
          <mat-select formControlName="id_operativeunit">
            <mat-option *ngFor="let dOperativeUnit of operativeUnitData" [value]="dOperativeUnit.id_operativeunit">
              {{ dOperativeUnit.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="container-functions-buttons">
          <button mat-raised-button id="button-transfer-teen" color="primary"><strong>Transferir adolescente</strong>
          </button>
          <button mat-raised-button id="button-cancel-teen" color="warn" (click)="hideForm()"><strong>Cancelar
            operación</strong></button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
