.max-width {
  max-width: 1400px;
}

.container-general-transfer {
  max-height: 16.5rem;
  min-height: 16.5rem;
}

.container-button {
  margin: 15px 10px 10px 10px;
}

#button-transfer,
#button-transfer-teen,
#button-cancel-teen {
  color: white;
  border-radius: 15px;
}

#button-transfer-teen,
#button-cancel-teen {
  margin: 10px 10px 10px 10px;
}

.container-form {
  width: 40%;
  display: flex;
  margin-left: 43rem;
  margin-top: -10rem;
}

.container-functions-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#information,
#pasos,
#paso1,
#paso2,
#paso3,
#paso4 {
  margin: 1.5px 0 0 1.5px;
}

.container-image-dissapear {
  display: flex;
  margin-left: 43rem;
  margin-top: -15rem;
}

#image-references {
  width: 25rem;
  border-radius: 30px;
}
