<mat-card class="container-general-transfer">
  <mat-card-content>
    <div class="container-content">

      <h4 class="mb-32">Transferir Adolescente</h4>
      <p class="mb-0 fw-medium" id="information">
        Mediante este menu se va poder transferir un adolescente a otro SOA.
      </p>
      <p class="mb-0 fw-medium" id="pasos"><strong>Pasos:</strong></p>
      <p class="mb-0 fw-medium" id="paso1">
        <strong>1.- </strong>Da click en el boton
        <strong>"Iniciar Transferencia"</strong>.
      </p>
      <p class="mb-0 fw-medium" id="paso2">
        <strong>2.- </strong>Selecciona el <strong>Adolescente</strong> a
        transferir.
      </p>
      <p class="mb-0 fw-medium" id="paso3">
        <strong>3.- </strong>Selecciona el nuevo <strong>SOA</strong> para la
        transferencia.
      </p>

      <p class="mb-0 fw-medium" id="paso4">
        <strong>4.- </strong>Y por ultimo, dale click en
        <strong>"Transferir Adolescente"</strong> para terminar el proceso.
      </p>

      <div class="container-button" *ngIf="!showTransferForm">
        <button
          mat-raised-button
          class="me-8 mb-8"
          color="primary"
          id="button-transfer"
          (click)="showForm()"
        >
          <strong>Iniciar Transferencia</strong>
        </button>
      </div>

      <div *ngIf="!showTransferForm" class="container-image-dissapear">
        <img id="image-references" src="assets/images/Soa-Canete.png">
      </div>
    </div>

    <div class="container-form" *ngIf="showTransferForm">
      <form [formGroup]="formForTransfer" (ngSubmit)="onSubmitForm()">

        <mat-form-field>
          <mat-label>Adolescente</mat-label>
          <input type="text" placeholder="Escribe el nombre" aria-label="Número" matInput [formControl]="searchControlTeen"
                 [matAutocomplete]="autoTeen">
          <mat-autocomplete #autoTeen="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let dTeen of filteredOptionsTeen | async" [value]="dTeen">
              {{ dTeen.name }} {{ dTeen.surnameFather }} {{ dTeen.surnameMother }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Soa</mat-label>
          <input type="text" placeholder="Escribe el nombre" aria-label="Número" matInput [formControl]="searchControlOperativeUnit"
                 [matAutocomplete]="autoOperativeUnit">
          <mat-autocomplete #autoOperativeUnit="matAutocomplete" (optionSelected)="onOptionSelectedOperativeUnit($event)">
            <mat-option *ngFor="let dOperativeUnit of filteredOptionsOperativeUnit | async" [value]="dOperativeUnit">
              {{ dOperativeUnit.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!--<mat-form-field>
          <mat-label>Soa:</mat-label>
          <mat-select formControlName="id_operativeunit">
            <mat-option *ngFor="let dOperativeUnit of operativeUnitData" [value]="dOperativeUnit.id_operativeunit">
              {{ dOperativeUnit.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>-->
        <div class="container-functions-buttons">
          <button mat-raised-button id="button-transfer-teen" color="primary"><strong>Transferir adolescente</strong>
          </button>
          <button mat-raised-button id="button-cancel-teen" color="warn" (click)="hideForm()"><strong>Cancelar
            operación</strong></button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
