#container-column-soa {
    display: flex;
    flex-direction: row;
}

.data-soa {
    flex: 1;
}

#funcionary-data-container {
    font-size: 10px;
}

.container-general-transfer {
  max-height: 38rem;
  min-height: 38rem;
}
