.title-soa {
  margin: 50px 50px 50px 50px;
  text-align: center;
  align-content: center;
}

img {
  width: 35%;
  margin: 0 auto;
  display: block;
}

.p-16 {
  margin-top: 5rem;
}

#button-session,
#button-logout {
  width: 10%;
  position: absolute;
}

#button-session {
  margin-left: 25rem;
}

#button-logout {
  margin-left: 41.5rem;
}

