.title-soa {
  margin: 50px 50px 50px 50px;
  text-align: center;
  align-content: center;
}

img {
  width: 35%;
  margin: 0 auto;
  display: block;
}

.p-16 {
  margin-top: 5rem;
}

#button-session {
  width: 10%;
  position: absolute;
  margin-left: 33rem;
  border-radius: 60px;
}
