#container-general-teen {
  max-height: 38rem;
  min-height: 38rem;
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido se desborda */
}

.table-responsive {
  overflow-x: auto;
  margin-top: -2rem;
  max-width: 100%;
  max-height: 100%; /* Asegura que la tabla no sobrepase la altura de su contenedor */
}

@media screen and (max-width: 600px) {
  .table-responsive {
    overflow-x: scroll;
  }
}

td, th {
  text-align: center;
  vertical-align: middle;
}

td.mat-cell {
  padding: 16px;
}

#table-content-range {
  max-height: 12rem;
  min-height: 12rem;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}
