<div class="container-button">
    <button
            mat-raised-button
            class="me-8 mb-8"
            color="primary"
            id="button-register"
            (click)="navigateToForm()"
    >
        <strong>Agregar Funcionario</strong>
    </button>
    <div class="container-button-new-model">
        <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option selected color="warn" (click)="showActive()">Adolescente Activos</mat-chip-option>
            <mat-chip-option color="warn" (click)="showInactive()">Adolescente Desactivados</mat-chip-option>
        </mat-chip-listbox>
    </div>
</div>

<div class="container-active" *ngIf="!showDataInactive">
    <div *ngIf="showDetails" class="dialog-background">
        <div class="dialog-content">

            <div class="container-div-button-close">
                <button mat-icon-button color="accent" (click)="closeDetails()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <h2>Detalles del Funcionario</h2>
            <div class="container-details-teen">
                <p><strong>Nombre:</strong> {{ selectedFuncionary?.name }}</p>
                <p>
                    <strong>Apellidos:</strong> {{ selectedFuncionary?.surnameFather }} {{selectedFuncionary?.surnameMother}}
                </p>
                <p><strong>Número de DNI:</strong> {{ selectedFuncionary?.dni }}</p>
                <p><strong>Teléfono:</strong> {{ selectedFuncionary?.phoneNumber }}</p>
                <p><strong>Rango:</strong> {{ selectedFuncionary?.range }}</p>
                <p><strong>Sexo:</strong> {{ getConfirmationLegalGuardian(selectedFuncionary?.confirmation) }}</p>
                <p><strong>Dirección:</strong> {{ selectedFuncionary?.address }}</p>
                <p><strong>Correo Electrónico:</strong> {{ selectedFuncionary?.email }}</p>
            </div>
        </div>
    </div>

    <mat-card class="w-100">
        <mat-card-content>

            <div class="table-responsive">
                <table mat-table [dataSource]="dataSourceActive" class="text-nowrap w-100">

                    <ng-container matColumnDef="dni">
                        <th mat-header-cell *matHeaderCellDef>Número de DNI</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.dni }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nombres</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.name }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="surnames">
                        <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.surnameFather }} {{element.surnameMother}}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">
                                {{ element.phoneNumber }}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="range">
                        <th mat-header-cell *matHeaderCellDef>Rango</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.range }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="confirmation">
                        <th mat-header-cell *matHeaderCellDef>Confirmación</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ getConfirmationLegalGuardian(element.confirmation) }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef style="width: 15rem">Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button id="buttonEliminar" mat-flat-button color="warn"
                                    (click)="deleteLogicalDataFuncionary(element)">Eliminar
                            </button>
                            <button id="buttonModificar" mat-flat-button color="primary"
                                    (click)="updateDataFuncionary(element)">Modificar
                            </button>
                        </td>
                    </ng-container>

                    <div class="container1">
                        <ng-container matColumnDef="moreInformation">
                            <th mat-header-cell *matHeaderCellDef style="width: 0.1rem">Más información</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" (click)="showFuncionaryDetails(element)">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                    </div>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<div class="container-active" *ngIf="showDataInactive">
    <div *ngIf="showDetails" class="dialog-background">
        <div class="dialog-content">

            <div class="container-div-button-close">
                <button mat-icon-button color="accent" (click)="closeDetails()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <h2>Detalles del Funcionario</h2>
            <div class="container-details-teen">
                <p><strong>Nombre:</strong> {{ selectedFuncionary?.name }}</p>
                <p>
                    <strong>Apellidos:</strong> {{ selectedFuncionary?.surnameFather }} {{selectedFuncionary?.surnameMother}}
                </p>
                <p><strong>Número de DNI:</strong> {{ selectedFuncionary?.dni }}</p>
                <p><strong>Teléfono:</strong> {{ selectedFuncionary?.phoneNumber }}</p>
                <p><strong>Rango:</strong> {{ selectedFuncionary?.range }}</p>
                <p><strong>Sexo:</strong> {{ getConfirmationLegalGuardian(selectedFuncionary?.confirmation) }}</p>
                <p><strong>Dirección:</strong> {{ selectedFuncionary?.address }}</p>
                <p><strong>Correo Electrónico:</strong> {{ selectedFuncionary?.email }}</p>
            </div>
        </div>
    </div>

    <mat-card class="w-100">
        <mat-card-content>
            <h4 class="mb-56">Funcionarios</h4>

            <div class="table-responsive">
                <table mat-table [dataSource]="dataSourceInactive" class="text-nowrap w-100">

                    <ng-container matColumnDef="dni">
                        <th mat-header-cell *matHeaderCellDef>Número de DNI</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.dni }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nombres</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.name }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="surnames">
                        <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.surnameFather }} {{element.surnameMother}}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef>Teléfono</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">
                                {{ element.phoneNumber }}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="range">
                        <th mat-header-cell *matHeaderCellDef>Rango</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ element.range }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="confirmation">
                        <th mat-header-cell *matHeaderCellDef>Confirmación</th>
                        <td mat-cell *matCellDef="let element">
                            <p class="mb-0 fw-medium">{{ getConfirmationLegalGuardian(element.confirmation) }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef style="width: 15rem">Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button id="buttonDelete" mat-flat-button color="warn"
                                    (click)="reactiveDataFuncionary(element)">Restaurar
                            </button>
                            <button id="buttonModify" mat-flat-button color="primary" disabled
                                    (click)="updateDataFuncionary(element)">Modificar
                            </button>
                        </td>
                    </ng-container>

                    <div class="container1">
                        <ng-container matColumnDef="moreInformation">
                            <th mat-header-cell *matHeaderCellDef style="width: 0.1rem">Más información</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" (click)="showFuncionaryDetails(element)">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                    </div>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
