.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*
.sidenav-container {
  height: 100vh;
}

.content-container {
  display: flex;
}

.body-wrapper {
  margin: auto;
  width: 100%;
  max-width: 1200px;
*/

.container-logo-soa {
  margin-left: 3.5rem;
}

.icon-dashboard-invisible {
  margin-left: 2rem;
  margin-top: 1rem;
}

#button-session {
  margin: 5px 5px 5px 5px;
}

#button-logout {
  margin: 5px 5px 5px 5px;
}
